{% extends 'base.html' %}
{% block content %}
<div class="container" style='padding-top: 4rem;'>
		<div class="row no-gutter">
			<div class="page-header">
				<p class="sanserif"><h1>{{ review.title }}</h1>
				<small>Average Review Rating: {{ avg_rating }}</small>
				</p>
				<p>Description: {{ review.description }}</p>
				<p>Rating: {{ review.rating }}</p>
				{% if user.is_staff %}
				<p>Estado: {{ review.get_state_display }}</p>
				<div class="row no-gutter">		
					<form method="POST" action=".">
						{% csrf_token %}
						<div>
				         	<label class="radio-inline"><input type="radio" name="state" value="ok"> Aceptado: </label> 
				        	<label class="radio-inline"><input type="radio" name="state" value="notok"> Rechazado: </label> 
				        </div>
				        <input type="submit" value="Modificar estado">
				    </form>
				</div>
				{% else %}
					<p>{{ error }}</p>
				{% endif %}
			</div>
		</div>
</div>
{% endblock %}