{% extends 'base.html' %}
{% block content %}
<section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary">Main call to action</a>
          <a href="#" class="btn btn-secondary">Secondary action</a>
        </p>
      </div>
  </section>

    <div class="album text-muted">
      <div class="container">
        <div class="row">
           {% for movie in latest_movies %} 
              <div class="card">
                 <img src="{{ movie.cover_img.url }}" alt="Card image cap">
                 <div class="card-block">
                    <h6 class="card-title">{{ movie.title }}</h6>
                    <h5 class="car-subtitle">{{ movie.category }}</h5>
                    <p class="card-text">{{ movie.description|truncatechars:140 }}</p>
                    <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-primary">See detail</a>
                 </div>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}